<%- include("partials/about-header"); -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:700|Fjalla+One&display=swap" rel="stylesheet">

  <style media="all">
    .navbar-brand {  /* Setting navbar text colour */
      color: #FFFFFF;
    }

    .navbar-brand:hover {
      color: #0000FF;
    }


    @media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
      .navbar-brand {
        transform: translateY(15px);
      }

      .navbar-toggler {  /* Positioning hamburger icon */
         transform: translate(-7px, 12px);
       }
     }

     @media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
        .navbar-brand {
          transform: translateY(45px);
        }

        .navbar-toggler {  /* Positioning hamburger icon */
          transform: translate(-3px, 40px);
        }

        .navbar-collapse {  /* Creates space between hamburger icon & dropdown text */
          margin-top: 35px;
        }
    }

    @media only screen and (min-width: 1400px) {  /* Targeting X-large devices */
      .navbar-brand {
        transform: translateY(30px);
      }

      .navbar-collapse {  /* Positioning Navbar Menu Links */
        transform: translateY(35px);
      }
    }

    .nav-link {  /* Setting navbar text colour */
      color: #FFFFFF;
    }

    .nav-link:hover {
      color: #0000FF;
    }

    .top-container {
      background-color: #000000;
      /* This sets background colour for navbar('about-header.ejs') */
    }

    .navbar {
      background-color: #000000;
    }

    .about-page {
      width: 100vw;
      background-color: #7E0FC5;
    }

    .about-page-container {
      width: 90%;
      margin: auto;
      padding-top: 60px;
      /* background-color: #FF0000; */
    }

    .about-page-title {  /* Targeting smll-screen devices */
      width: 60%;
      margin: auto;
      text-align: center;
      /* background-color: grey; */
    }

    @media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
      .about-page-title {
        width: 25%;
      }
    }

    .text-1 {  /* Targeting small-screen devices */
      font-family: 'Fjalla One', sans-serif;
      font-weight: 600;
      font-size: 2.8rem;
      color: #000000;
    }

    @media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
      .text-1 {
        font-size: 4rem;
      }
    }

    .about-page-contents {
      width: 80%;
      margin-top: 60px;
      padding-bottom: 50px;
      /* background-color: yellow; */
    }

    .about-page-contents img {  /* Targeting small-screen devices */
      max-width: 100%;
      height: auto;
      width: 100px;
      float: left;
      margin-right: 10px;
      border-radius: 15px;
    }

    @media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
      .about-page-contents img {
        width: 200px;
      }
    }

    .text-2 {
      font-family: 'Dosis', sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      color: #FFFFFF;
      line-height: 1.5;
    }

    .paragraph-1 {
      width: 100%;
      /* background-color: yellow; */
    }

    .paragraph-2 {
      width: 100%;
      margin-top: 70px;
      /* background-color: yellow; */
    }

    .paragraph-3 {
      width: 100%;
      margin-top: 70px;
      /* background-color: yellow; */
    }

    @media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
      .paragraph-2 {
        margin-top: 0;
      }

      .paragraph-3 {
        margin-top: 0;
      }
    }

    .contact {
      color: #000000;
    }

    .contact:hover {
      color: #FF0000;
    }

    .bottom-container {
      background-color: #000000;
    }

    .footer-text {  /* Setting footer text colour */
      color: #FFFFFF;
    }
  </style>
</head>

<body>

  <section class="about-page">
    <div class="container-fluid">
      <div class="about-page-container">
        <div class="about-page-title">
          <h3 class="text-1">My Story</h3>
        </div>
        <div class="about-page-contents mx-auto">
          <img src="Images/Img-2.jpg" alt="A picture of Benjamin Akponasa wearing sunglasses">
          <div class="paragraph-1">
            <p class="text-2">Hi everyone, I’m Ben!! Firstly, I just want to say a HUGE thank you for visiting my personal website. I have dedicated this page to tell you a little bit about myself and what I do. I’m a Full Stack Developer based here
              in the UK. I grew up with my wonderful family and parents in the beautiful city of…Oxford! Growing up, I have always had an inclination towards Classics and the Sciences. I’ve also had many interesting career aspirations along the way.
              I’ll let you in on a few of them.</p>
          </div>
          <div class="paragraph-2">
            <p class="text-2">When I was really young, my ambition was to become an airline pilot. Then at some point, I dreamt of becoming a pro athlete. Towards the end of my time at school, I seriously considered studying Medicine, but then
              ended up doing a BSc in Biochemistry instead. 3 unforgettable years as an undergraduate student went by fast, trust me.
              After my degree, I initially considered becoming a qualified Secondary Science Teacher. However, it turned out not to be my destiny. One thing led to another, and I eventually developed a keen interest in software and programming.
              Something, I would never ever have imagined myself doing. I found myself engrossed in learning to code and building out websites/apps. This has finally led me to where I am today.</p>
          </div>
          <div class="paragraph-3">
            <p class="text-2">Want to know my hobbies? Well, in my free time, I like to exercise, cook and play music. Listening to/playing music is such a great way to chill out. Boogie Woogie piano has actually been my main focus lately, and I
              want to become really good at it one day! There’s nothing more awesome than being able to get on the keys and make people dance!
              To that end, the material on this website is all my own work with no affiliation to anyone else. So, best of luck and stay strong in all your endeavours! If you’d like to get in touch for anything, please don’t hesitate. Just go to
              the <a class="contact text-decoration-none" href="/contact">Contact</a> page at the top of my website and send me a message. See you on the other side!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>

<%- include("partials/footer"); -%>
