<%- include("partials/contact-header"); -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <style media="all">
    hr {
     border-style: none;  /* This removes the default <hr> border style(inset) & width(1px) */
     border-top-style: dashed;
     border-width: 10px;
     border-color: #000000;
     width: 100%; /* The <hr> will inherit styles from the one on home page; its width is relative to its containing div*/
    }

    .navbar-brand {  /* Setting navbar text colour */
      color: #FFFFFF;
    }

    .navbar-brand:hover {
      color: #0000FF;
    }

    .hamburger-icon {
      color: #FFFFFF;
    }

    .nav-link {  /* Setting navbar text colour */
      color: #FFFFFF;
    }

    .nav-link:hover {
      color: #0000FF;
    }

    .top-container {
      background-color: #000000;
      /* This sets background colour for navbar('about-header.ejs') */
    }

    .navbar {
      background-color: #000000;
    }

    .contact--success-page {
      width: 100vw;
      background-color: #7E0FC5;
    }

    .success-page {
      width: 90%;
      margin: auto;
      padding: 100px 0;
      text-align: center;
      /* background-color: #FF0000; */
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
      .success-page {
        padding: 150px 0;
      }
    }

    @media only screen and (min-width: 1300px) {  /* Targeting X-large devices */
      .success-page {
        padding: 170px 0;
      }
    }

    .success-background {
      background-color: #7E0FC5;
    }

    .text-1 {  /* Targeting small-screen devices & others */
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 2.8rem;  /* Small-screen */
      color: #000000;
    }

    @media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
      .text-1 {
        transform: translateX(-12px);
      }
    }

    @media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
      .text-1 {
        font-size: 4.5rem;
      }
    }

    .hr-container {
      width: 30%;
      /* This sets the actual visible width of <hr> & makes it dynamic */
      margin: 8px 0;
      /* background-color: #FF0000; */
    }

    .text {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 1.1rem;
      color: #FFFFFF;
    }

    @media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
      .text {
        transform: translateX(-8px);
      }
    }

    .pathway-buttons {
      width: 90%;
      padding: 15px 0;
      margin-bottom: 40px;
      display: inline-block;
    }

    @media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
      .pathway-buttons a:nth-child(1) {
        margin-bottom: 14px;
        transform: translateX(-3px) scale(1.2);
      }

      .pathway-buttons a:nth-child(2) {
        transform: translateX(-3px) scale(1.2);
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
      .pathway-buttons a:nth-child(1) {
        transform: translateY(-40px) scale(1.2);  /* Keeps scaling */
      }

      .pathway-buttons a:nth-child(2) {
        transform: translateY(-40px) scale(1.2);
      }
    }

    @media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
      .pathway-buttons a:nth-child(2) {  /* Creates space between buttons */
        margin-left: 25px;
      }
    }

    @media only screen and (min-width: 992px) {  /* Targeting large-screen devices and up */
      .pathway-buttons a:nth-child(1) {
        transform: translateY(-60px) scale(1.2);  /* Keeps scaling */
      }

      .pathway-buttons a:nth-child(2) {
        transform: translateY(-60px) scale(1.2);
      }
    }

    .button-colour {
      color: #FFFFFF;
      border: none;  /* Overriding External CSS */
      background-color: #393b44;
    }

    .button-colour:hover {
      color: #FFFFFF;
      background-color: #393b44;
    }

    .button-size {
      transform: scale(1.2);
    }

    .bottom-container {
      background-color: #000000;
    }

    .footer-text {
      color: #FFFFFF;
    }
  </style>
</head>

<body>

  <section class="contact--success-page">
    <div class="container-fluid">
      <div class="success-page">
        <div class="jumbotron jumbotron-fluid text-center success-background">
          <div class="container">
            <h1 class="text-1">Message successfully sent!</h1>
            <div class="hr-container mx-auto">
              <hr>
            </div>
            <p class="text">Please go to the home page or read more:</p>
          </div>
        </div>
        <div class="pathway-buttons">
          <a class="btn button-colour btn-lg button-size" href="/"><span class="font-weight-bold">Home Page</span></a>
          <a class="btn button-colour btn-lg button-size" href="/about"><span class="font-weight-bold">About Page</span></a>
        </div>
      </div>
    </div>
    <!-- Scroll Button -->
    <button type="button" class="btn scroll-top"><i class="fas fa-chevron-up"></i></button>
  </section>

</body>

</html>

<%- include("partials/footer"); -%>
