<%- include("partials/contact-header"); -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <style media="all">
    .navbar-brand {  /* Setting navbar text colour */
      color: #FFFFFF;
    }

    .navbar-brand:hover {
      color: #0000FF;
    }

    .hamburger-icon {
      color: #FFFFFF;
    }

    .nav-link {  /* Setting navbar text colour */
      color: #FFFFFF;
    }

    .nav-link:hover {
      color: #0000FF;
    }

    .top-container {
      background-color: #000000;
      /* This sets background colour for navbar('about-header.ejs') */
    }

    .navbar {
      background-color: #000000;
    }

    .contact-page {
      width: 100vw;
      background-color: #7E0FC5;
    }

    .form-container {  /* Targeting small, medium & large-screen devices */
      width: 85%;
      margin: auto;
      padding: 100px 0 150px 0;
      /* background-color: #FF0000; */
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
      .form-container {
        padding: 150px 0 280px 0;  /* Bottom padding prevents 'page-jump' on form submission */
      }
    }

    @media only screen and (min-width: 1200px) {  /* Targeting X-Large devices */
      .form-container {
        padding: 150px 0 310px 0;  /* Bottom padding prevents 'page-jump' on form submission */
      }
    }

    .header-container {
      width: 90%;
      margin: auto;
      text-align: center;
      padding-bottom: 80px;
      /* background-color: grey; */
    }

    .text-1 {  /* Targeting small-screen devices & others */
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 2rem;  /* Small-screen */
      color: #000000;
    }

    @media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
      .text-1 {
        transform: translateX(-3px);
      }
    }

    @media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
      .text-1 {
        font-size: 2.8rem;
      }
    }

    .card {
      border-radius: 0;
    }

    @media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
      .card {
        transform: translateX(-5px);
      }
    }

    .form-background {
      background-color: #FFFFFF;
    }

    .form-group input {
      border-radius: 0;
    }

    .text-colour {
      color: #000000;
    }

    .form-group textarea {
      border-radius: 0;
    }

    .button-colour {
      color: #FFFFFF;
      border-radius: 0;
      background-color: #000000;
    }

    .button-colour:hover {
      color: #FFFF00;
    }

    .bottom-container {
      background-color: #000000;   /* This sets background colour for footer('footer.ejs') */
    }

    .footer-text {  /* Setting footer text colour */
      color: #FFFFFF;
    }
  </style>
</head>

<body>

  <section class="contact-page">
    <div class="container-fluid">
      <div class="form-container">
        <div class="header-container">
          <h3 class="text-1">Want to shoot me a message? Fill out the form below with your details:</h3>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-8">
              <div class="card form-background">
                <div class="card-body">
                  <form class="gform" action="https://script.google.com/macros/s/AKfycbz8kyvuKqJEHVJL9u0AO0ongEhY7ufuD6q8rCsNnQ/exec" method="post">
                   <div class="form-elements">
                    <div class="form-group">
                      <label for="clientName"><span class="text-colour font-weight-bold">Your Name:</span></label>
                      <input type="text" name="name" class="form-control" id="clientName" aria-describedby="privacy1" autocomplete="off" placeholder="eg. Paul Smith">
                      <small id="privacy1" class="form-text text-colour">Your name will <span class="font-italic font-weight-bold">never</span> be shared with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="clientEmail"><span class="text-colour font-weight-bold">Your Email:</span></label>
                      <input type="email" name="email" class="form-control" id="clientEmail" aria-describedby="privacy2" autocomplete="off" placeholder="eg. tommy@email.com">
                      <small id="privacy2" class="form-text text-colour">Your email will <span class="font-italic font-weight-bold">never</span> be shared with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="clientMessage"><span class="text-colour font-weight-bold">Your Message:</span></label>
                      <textarea id="clientMessage" name="message" class="form-control" rows="15" autofocus></textarea>
                    </div>
                    <button type="submit" class="btn button-colour btn-block">Submit</button>
                  </div>
                  <div class="thankyou_message" style="display: none;">
                    <h2 class="form-submit--message"><strong><em>Thanks</em></strong> for contacting me! I'll be in touch soon!</h2>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>

<%- include("partials/footer"); -%>
