<%- include("partials/header"); -%>

<section class="middle-container">
  <div class="container-fluid">
    <div class="text-container-1">
      <h3 class="text-1">The personal site of Benjamin Akponasa</h3>
    </div>
    <div class="text-container-2 mx-auto">
      <h4 class="text-2">Click here to read more:</h4>
    </div>
    <div class="text-container-3 text-border">
      <div class="text-box">
        <a class="text-decoration-none" href="/about">
          <h3 class="text-3">Learn More</h3>
        </a>
      </div>
    </div>
    <div class="hr-container mx-auto">
      <hr>
    </div>
    <div class="text-container-4 mx-auto">
      <h4 class="text-2">Click here to get in touch:</h4>
    </div>
    <div class="button-container">
      <a class="btn btn-outline-primary btn-lg contact" href="/contact"><span class="font-weight-bold align-middle">Contact Me</span></a>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
