<%- include("partials/header"); -%>

<section class="middle-container">
  <div class="container-fluid">
    <div class="text-container-1 animate">
      <h3 class="text-1">The personal site of <span class="font-italic highlight">Benjamin Akponasa</span></h3>
    </div>
    <div class="text-container-2">
      <h4 class="text-2">Click here to read more:</h4>
    </div>
    <!-- <div class="text-container-3 text-border">
      <div class="text-box">
        <a class="text-decoration-none" href="/about">
          <h3 class="text-3">Learn More</h3>
        </a>
      </div>
    </div> -->
    <div class="button-container--1">
      <a href="/about" class="btn button-colour btn-lg">Learn More</a>
    </div>
    <div class="hr-container mx-auto">
      <hr>
    </div>
    <div class="text-container-4 mx-auto">
      <h4 class="text-2">Click here to get in touch:</h4>
    </div>
    <div class="button-container">
      <a class="btn button-colour btn-lg contact" href="/contact"><span class="font-weight-bold align-middle">Contact Me</span></a>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
