body {  /* Targeting small-screen devices & others */
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;  /* Ensures that page always covers the entire viewport */
  background-image: linear-gradient(60deg, rgba(5, 5, 5, 0.6), rgba(41, 33, 33, 0.6)), url("../Images/Img-1b.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #292121;  /* This colour will be used if the browser cannot render background image */
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  body {
    background-image: linear-gradient(60deg, rgba(5, 5, 5, 0.6), rgba(41, 33, 33, 0.6)), url("../Images/Img-1a.jpg");
  }
}

/* Scroll Button */

.scroll-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  z-index: 99;  /* Prevents overlap */
  border: none;  /* Removes borders */
  outline: none;  /* Removes outline */
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
}

.scroll-top:hover {
  color: #00FF00;
  background-color: #000000;
}

/* Navigation Bar */
.top-container {
  width: 100vw;
  /*background-color: transparent;  /* No background colour here */
}

.navbar {
  padding: 1% 5%;
  /* background-color: transparent; */
}

.navbar-brand {  /* Targeting small-screen devices */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: #FFFF00;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .navbar-brand {
    transform: translateY(-2px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .navbar-brand {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) {  /* Targeting large-screen devices and up */
  .navbar-brand {
    transform: translateY(-3px);
  }
}

.navbar-brand:hover {
  color: #000000;
}

.hamburger-icon {
  color: #FFFF00;
  font-size: 28px;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .navbar-toggler {
    transform: translateX(-5px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .navbar-toggler {
    transform: translateX(5px);
  }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .navbar-nav {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .navbar-nav {
    margin-top: 3px;
  }
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #FFFF00;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .nav-link {
    font-size: 1.3rem;
  }
}

.nav-link:hover {
  color: #000000;
}

/* Main Contents */
.middle-container {  /* Targeting small-screen devices & others */
  width: 100vw;
  text-align: center;  /* Horizontally centres button divs */
  padding-bottom: 80px;
  background-color: transparent;  /* No background colour here */
  /* background-color: #FF0000; */
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .middle-container {
    padding-bottom: 160px;
  }
}

.text-container-1 {  /* Targeting small-screen devices and others */
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 120px 0 70px 0;  /* Small-screen */
  /* background-color: grey; */
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .text-container-1 {
    /* padding: 120px 0 100px 0; */
    padding: 120px 0;
  }
}

@media only screen and (min-width: 992px) {  /* Targeting large-screen devices and up */
  .text-container-1 {
    padding: 120px 0 155px 0;
  }
}

.text-1 {  /* Targeting small-screen devices & others */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.6rem;  /* Small-screen */
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .text-1 {
    transform: translateX(-5px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .text-1 {
    font-size: 3.8rem;
  }
}

@media only screen and (min-width: 992px) {  /* Targeting large-screen devices and up */
  .text-1 {
    font-size: 4.15rem;
  }
}

.highlight {
  text-decoration: solid underline #0000FF;
}

.animate {
  display: none;  /* This rule will be overwritten by jQuery when the web page loads */
}

.text-container-2 {
  width: 60%;
  margin: auto;
  padding: 3px 0;
  text-align: center;
  /* background-color: #FF0000; */
}

.text-2 {  /* Targeting small-screen devices & others */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;  /* Small-screen */
  color: #FFFFFF;
  line-height: 1;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .text-2 {
    font-size: 1.8rem;
  }
}

.button-container--1 {
  width: 50%;
  padding: 8px 0;
  display: inline-block;
}

.button-colour {
  color: #000000;
  border: 1px solid #000000;
}

.button-colour:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.button-size {
  transform: scale(1.2);
}

.hr-container {
  width: 35%;  /* This sets the visible <hr> width and makes it dynamic too */
  margin-top: 80px;
}

.hr-container hr {
  border-style: none;  /* This removes the default <hr> border style(inset) & width(1px) */
  border-top-style: dashed;
  border-width: 10px;
  border-color: #00FF00;
  width: 100%;  /* Width is relative to parent 'hr-container' div */
}

.text-container-3 {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 60px 0 3px 0;
  /* background-color: #FF0000; */
}

.button-container--2 {
  width: 50%;
  padding: 8px 0;
  display: inline-block;
}

/* Footer */

.bottom-container {
  width: 100vw;
  line-height: 8vh;
  /* No background colour */
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #FFFF00;
}
