body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("../Images/Img-1b.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #292121;
  /* This colour will be used if the browser cannot render background image */
}

@media only screen and (min-width: 576px) {
  body {
    background-image: url("../Images/Img-1a.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #292121;
  }
}

button span {
  color: #FFFF00;
  font-size: 28px;
}

hr {
  border-style: none;
  /* This removes the default <hr> border style(inset) & width(1px) */
  border-top-style: dashed;
  border-width: 10px;
  border-color: #00FF00;
  width: 100%;
  /* Width is relative to parent 'hr-container' div */
}

/* Navigation Bar */
.top-container {
  width: 100vw;
  height: 25vh;
  background-color: rgb(0, 0, 0);
  /* This colour will be used a a fallback for the one below */
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar {
  padding: 3% 5%;
  background-color: transparent;
}

.navbar-brand {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 800;
  font-size: 2.8rem;
  color: #FFFF00;
}

.navbar-brand:hover {
  color: #0000FF;
}

.nav-link {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #FFFF00;
}

.nav-link:hover {
  color: #0000FF;
}

/* Main Contents */
.middle-container {
  width: 100vw;
  padding-bottom: 80px;
  background-color: transparent;  /* No background colour here */
  /* background-color: #FF0000; */
}

@media only screen and (min-width: 576px) {
  .middle-container {
    width: 100vw;
    text-align: center;  /* This will center the button in the child 'button-container' div */
    padding-bottom: 80px;
    background-color: transparent;  /* No background colour here */
    /* background-color: #FF0000; */
  }
}

.text-container-1 {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 120px 0 50px 0;
  /* background-color: grey; */
}

.text-1 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
  font-size: 3.4rem;
  color: #FFFFFF;
}

.text-container-2 {
  width: 60%;
  padding: 3px 0;
  text-align: center;
  margin-bottom: 6px;
  /* Bootstrap 'mx-auto' class is being used for horizontal centering instead!
  background-color: transparent;  /* No background colour */
  /* background-color: #FF0000; */
}

.text-2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #FFFFFF;
}

.text-container-3 {
  width: 300px;
  /* Specified width for link text button */
  margin: auto;
  background-color: transparent;
  /* No background colour */
}

.text-border {
  border-radius: 5px;
  border: 3.5px solid #FFFF00;
}

.text-box {
  width: 60%;
  margin: auto;
  padding: 10px 0 5px 0;
  text-align: center;
  /* background-color: grey; */
}

.text-3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: #FFFFFF;
}

.text-3:hover {
  color: #FF0000;
}

.hr-container {
  width: 35%;
  /* This sets the visible <hr> width and makes it dynamic too */
  margin-top: 80px;
}

.text-container-4 {
  width: 60%;
  padding: 3px 0;
  margin-top: 60px;
  /* Bootstrap 'mx-auto' class is being used for horizontal centering instead! */
  text-align: center;
  background-color: transparent;
  /* No background colour */
  /* background-color: #FF0000; */
}

.button-container {
  width: 40%;
  padding: 8px 0;
  margin-left: 18%;  /* This keeps the button centered on mobile screens */
  /* display: inline-block; */
  /* background-color: grey; */
}

@media only screen and (min-width: 576px) {
  .button-container {
    width: 40%;
    margin: auto;  /* This keeps button horizontally centered on medium & large screens */
    padding: 8px 0;
    display: inline-block;
    /* background-color: grey; */
  }
}

.contact {
  width: 180px;
  height: 60px;
  border-radius: 5px;
}

.contact:hover {
  color: #FFFFFF;
}

/* Footer */
.bottom-container {
  width: 100vw;
  line-height: 8vh;
  background-color: transparent;
  /* No background colour */
}

.footer-text {
  color: #FFFF00;
}
